src/HangfireTest_1/.vs/
src/HangfireTest_1/bin/
src/HangfireTest_1/obj/
src/packages/
src/.vs/config/applicationhost.config
src/HangfireTest_1/obj/Debug/HangfireTest_1.pdb
src/HangfireTest_1/obj/Debug/HangfireTest_1.dll
src/HangfireTest_1/obj/Debug/HangfireTest_1.csprojResolveAssemblyReference.cache
src/HangfireTest_1/obj/Debug/HangfireTest_1.csproj.FileListAbsolute.txt
src/HangfireTest_1/obj/Debug/HangfireTest_1.pdb
src/HangfireTest_1/obj/Debug/HangfireTest_1.dll
src/HangfireTest_1/obj/Debug/HangfireTest_1.csprojResolveAssemblyReference.cache
src/HangfireTest_1/obj/Debug/HangfireTest_1.csproj.FileListAbsolute.txt
src/HangfireTest_1/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
src/HangfireTest_1/bin/HangfireTest_1.pdb
src/HangfireTest_1/bin/HangfireTest_1.dll